@model CarRental.Models.reservation

@{
    ViewBag.Title = "Delete";
}

<h2>Suppression</h2>

<h3>Voulez-vous vraiment supprimer cette reservation?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
