@{
    ViewBag.Title = "Cars.ma";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="container">
    <div class="col-md-4" style=" text-align: justify; text-justify: inter-word;">
        <p>Garantissant des locations de véhicules dans 160 pays et 40 langues, Cars.ma est le plus grand service de réservation de locations de voitures dans le monde. En collaboration avec les plus grands fournisseurs, nous vous proposons des tarifs avantageux sur tous types de voitures, y compris les véhicules de luxe, monospaces, fourgonnettes et les voitures à boîte automatique. Avec un centre d'appels multilingue ouvert 7 jours sur 7, nous pouvons vous trouver les meilleurs tarifs de location quand vous voulez - où vous voulez.</p>
    </div>
    
    <div class="col-md-6" style=" position:relative;margin-left: 400px ; margin-top:-210px;">
        <img src="~/Content/img/about.jpg" alt="about" style="width:100%; height:30%;" />
    </div>
</div>