@model CarRental.Models.category

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Etes vous sure de vouloir supprimer cet élément?</h3>
<div>
    <h4>Categorie</h4>
    <hr />
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
