@model CarRental.Models.marque

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Etes vous sure de supprimer cet élément?</h3>
<div>
    <h4>Marque</h4>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
